:root {
  --header: #4A4E69;
  --background: #F0F0F0;
  --text-color: #000000;
  --page-color-transition: background .2s ease, color .2s ease;
}

[data-theme="dark"] {
  --header: #c9ada7;
  --background: #11112a;
  --text-color: #C0C0C0;
}

html[data-theme="dark"] .day-visible {
  display: none;
}

html[data-theme="light"] .night-visible {
  display: none;
}

a:link { color: blue; }
a:visited { color: blue; } 
a:hover { color: red; }    
a:active { color: green; } 

day-night {
  position: fixed;
  transform: scale(2);

  top: 16px;
  right: 56px;
  align-items: center;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background: var(--background);
  transition: transform 0.5s ease-in-out, var(--page-color-transition);
  color: var(--text-color);
}

layout {
  display: grid;
  grid-template: 
    [row1-start] "summary summary links" [row1-end]
    [row2-start] "footer footer footer" [row2-end]
    / auto auto 25%;
  margin: 10%;
  row-gap: 1rem;
}

footer {
  font-size: 0.75rem;
  grid-area: footer;
}

brand {
  font-weight: bold;
}

.brand1 {
  color: #FF7F2E;
}

.brand2 {
  color: #3FC3BF;
}

summary {
  grid-area: summary;
  display: flex;
  flex-direction: column;
}

summary-header {
  flex-direction: row;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

summary-content {
  font-size: 1rem;
}


links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 0.2rem solid;
}

navlink {
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
}

navlink {
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
}

navlink:hover {
  color: #3FC3BF;
}

.link::before,
.link::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.link::before {
  margin-right: 0.5rem;
  content: '[';
  -webkit-transform: translateX(1rem);
  -moz-transform: translateX(1rem);
  transform: translateX(1rem);
}

.link::after {
  margin-left:  0.5rem;
  content: ']';
  -webkit-transform: translateX(-1rem);
  -moz-transform: translateX(-1rem);
  transform: translateX(-1rem);
}

.link:hover::before,
.link:hover::after,
.link:focus::before,
.link:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0rem);
  -moz-transform: translateX(0rem);
  transform: translateX(0rem);
  cursor: pointer;
}

/*
 * Media Queries for different screen sizes
 */

@media all and (max-width:500px) {
  html {
    font-size: 12px;
  }
  navlink {
    font-size: 1rem;
  }
}

@media all and (max-width:850px) {
  layout {
    grid-template: 
      [row1-start] "links" [row1-end]
      [row2-start] "summary" [row2-end]
      [row3-start] "footer" [row3-end]
      / auto;
  }
  links {
    flex-direction: row;
    border-left: none;
  }
  html {
    font-size: 14px;
  }
  day-night {
    transform: scale(1);
    right: 36px;
  }
}

@media all and (min-width:1100px) {
  html {
    font-size: 16px;
  }
}

