:root {
  --background: #F0F0F0;
  --text-color: #000000;
  --page-color-transition: background .2s ease, color .2s ease;
}

[data-theme="dark"] {
  --background: #11112a;
  --text-color: #C0C0C0;
}

html[data-theme="dark"] .day-visible {
  opacity: 0;
  pointer-events: none; /* Prevents selecting hidden text */
}

html[data-theme="light"] .night-visible {
  opacity: 0;
  pointer-events: none;
}

a { text-decoration: none; }
a:link { color: blue; }
a:visited { color: blue; } 
a:hover { color: red; }    
a:active { color: green; } 

day-night {
  position: fixed;
  transform: scale(2);
  top: 16px;
  right: 56px;
  z-index: 100;
  --toggle-bg-color: var(--background);
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background: var(--background);
  transition: transform 0.5s ease-in-out, var(--page-color-transition);
  color: var(--text-color);
}

.layout {
  display: grid;
  grid-template: 
    [row1-start] "summary summary links" [row1-end]
    [row2-start] "footer footer footer" [row2-end]
    / auto auto 25%;
  margin: 10%;
  row-gap: 1rem;
}

footer {
  font-size: 0.75rem;
  grid-area: footer;
}

.brand {
  font-weight: bold;
}

.brand1 { color: #FF7F2E; }
.brand2 { color: #3FC3BF; }

.summary-section {
  grid-area: summary;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.summary-header {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.summary-content {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1rem;
}

/* Stack day/night content on top of each other */
.summary-content > * {
  grid-column: 1;
  grid-row: 1;
  transition: opacity 0.3s ease; /* Smooth fade between content */
}

.links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 0.2rem solid;
}

.nav-link {
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  color: var(--text-color) !important;
}

.nav-link:hover {
  color: #3FC3BF !important;
}

.nav-link::before,
.nav-link::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}

.nav-link::before {
  margin-right: 0.5rem;
  content: '[';
  transform: translateX(1rem);
}

.nav-link::after {
  margin-left:  0.5rem;
  content: ']';
  transform: translateX(-1rem);
}

.nav-link:hover::before,
.nav-link:hover::after {
  opacity: 1;
  transform: translateX(0rem);
}

/* Media Queries */
@media all and (max-width:500px) {
  html { font-size: 12px; }
  .nav-link { font-size: 1rem; }
}

@media all and (max-width:850px) {
  .layout {
    grid-template: 
      [row1-start] "links" [row1-end]
      [row2-start] "summary" [row2-end]
      [row3-start] "footer" [row3-end]
      / auto;
  }
  .links {
    flex-direction: row;
    border-left: none;
    margin-bottom: 2rem;
  }
  html { font-size: 14px; }
  day-night {
    transform: scale(1);
    right: 36px;
  }
}

@media all and (min-width:1100px) {
  html { font-size: 16px; }
}
