<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Ludusamo</h1>
                <h5>Created by Brendan Horng</h5>
                <h5></h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
		    <img src="{{ "/assets/img/logoV2.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
